* {
    margin: 5px;
}

h1 {
    text-align: center;
}
body {
    background-color: cadetblue;
    background-image: url("../images/bi1.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
}

h4 {
    background-color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
}